body {
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    background: pink;
}

.loader {
    width: 35px;
    height: 35px;
    border: 4px solid #000;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.page {
    display: flex;
    flex-direction: column;
    gap: 16px;
    height: calc(100vh - 52px);
    overflow: hidden;
}

.header {
    padding: 16px;
    border-bottom: 2px solid darkred;
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    font-family: serif;
}

.main-section {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 16px;
}

.main-section button {
    width: fit-content;
    background: darkred;
    color: #fff;
}

.books-list {
    overflow-y: auto;
    height: calc(100vh - 140px);
}

.books-list table {
    width: 100%;
    border-spacing: 0;
    border: 2px solid grey;
}

.books-list tr th {
    border: 2px solid grey;
    color: white;
    background: darkred;
    padding: 3px;
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: larger;
}

.books-list tr td {
    padding: 3px;
    border: 2px solid grey;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.add-book-form div {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.add-book-form > div {
    gap: 24px;
}

.add-book-form-column {
    display: flex;
    flex-direction: column !important;
    width: 100%;
}

.delete-book-modal {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.delete-book-modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 16px;
}

.add-book-form-button {
    background: darkred;
    color: #fff;
    padding: 4px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.add-book-button-container {
    display: flex;
    justify-content: end;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 2px solid darkred;
    padding: 16px;
    background: pink;
}

.ReactModal__Overlay {
    z-index: 2;
}